

* {
	box-sizing: border-box;
}

:root {
    --first-colour: #cda273;
    --second-colour: #5b5c54;
    --third-colour: #b17248;
    --fourth-colour: #5b5c54;
    --fifth-colour: #813e2a;
}

/* Search Box */

.d-flex {
  padding: 30px;
}

header, .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header img {
   width: 500px;
}

.btn,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: --first-colour;
    border-color: --second-color;
}

.btn-outline-primary {
    @include button-outline-variant(--first-colour);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--first-colour);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'You're So Cool', fantasy;
    padding: 100px;
}

@font-face {
	font-family: 'You're So Cool';
	src: url('fonts/Youre_So_Cool.ttf');
	font-style: normal;
}